body{
	min-width: 1400px;
	margin:  0 auto;
	background-color: #0e0e0e;
}
.container{
    width: 1400px;
    margin: auto;
}
@font-face {
    font-family: HelBold;
    src: url(font/helvetica-neue-bold.woff2);
}
@font-face {
    font-family: PTSRegular;
    src: url(font/PT-Sans-Regular.woff2);
}
@font-face {
    font-family: PTSBold;
    src: url(font/PT_Sans-Web-Bold.woff2);
}
.container1{
    width: 100%;
	height: 740px;
	background-color: rgb(252,219,0);
}
.container2{
    width: 100%;
	height: 775px;
	background-color: rgb(255,255,255);
}
.container3{
    width: 100%;
	height: 767px;
	background-color: rgb(1,1,1);
}
.content1{
	width: 940px;
	margin: auto;
	padding: 50px;
}
.line1{
	width: 940px;
	margin: auto;
	display: flex;
	height: 110px;
}
.left{
	width: 580px;
	padding-left: 10px;
}
.fingerprint{
	float: left;
}
.tinyone{
	font-size: 30px;
	font-weight: bold;
	font-family: 'PT Sans ', sans-serif;
}
.right{
	width: 360px;
	display: flex;
	flex-direction: row;
	font-size: 22px;
}
.rightcontent{
	margin-right: 72px;
	font-family: HelBold;
	font-weight: bolder; 
}
.rightcontent:first-child{
	font-family: 'PT Sans ', sans-serif;
    letter-spacing: -1px;
}
.rightcontent:last-child{
    margin-right: 0px;
}
.line2{
	display: flex;
	height: 470px;
}
.text1{
    margin-top: 70px;
	font-size: 32px;
	font-family: 'PTSBold', sans-serif;
	font-weight: bold;

}
.text2{
	color: #313841;313841
	font-size: 20px;
	font-family: Myriad Pro;
	width: 310px;
}
.text3{
	color: #736c4d;
	margin-top: 20px;
	font-family: Myriad Pro;
	width: 400px;
}
.phonecontainer{
	display: flex;
	width: 320px;
	height:470px;
	background-color: rgb(255,255,255);
	border-radius: 5%;
	justify-content: center;
	align-items: center;
}
.phonecontent{
	display: flex;
    width: 290px;
	height:385px;
	background-color: rgb(1,1,1);
	justify-content: center;
	align-items: center;
}
.phonecontent p{
	font-size: 28px;
	color: rgb(252,219,0);
	font-family: 'PT Sans', sans-serif;
	padding-bottom: 20px;
	padding-left:5px;
}
.phonecontent img{
	padding-bottom: 20px;
}
.icon{
	display: inline-block;
	margin-top: 40px;
	margin-right: 38px;
	font-size: 45px;
}
.line3{
	width: 940px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot{
	margin-right: 5px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #feed80;
}
.dot:first-child{
	background-color: white;
}
.content2{
	width: 940px;
	margin: auto;
}
.row1{
	padding-top:70px;
	width: 740px;
	margin: auto;
	height: 140px;
}
.center:nth-child(2){
	font-family:'PTSRegular';
	font-size: 20px;
	margin-top: -30px;
}
.center:first-child{
	font-family:'PTSBold';
	font-size: 32px;
	font-weight: bold; 
	color: black;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.row2{
	padding-top:70px;
	width: 940px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.flex-row{
	width: 270px;
	display: flex;
}
.ptsr{
	font-family:'PTSRegular';
}
.bold{
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 0px;
}
.mab{
	margin-bottom: 10px;
}
.mar{
	margin-right:15px;
}
.color929292{
	color: #313841;
}
.color898989{
	color:#898989;
}
.color2{
	color: #313841;
}
.center1:first-child{
	font-family:'PTSBold';
	font-size: 32px;
	font-weight: bold; 
	color: #fcdb00;
	margin-bottom: 10px;
}
.center1{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.center1:nth-child(2){
	font-family:'PTSRegular';
	font-size: 20px;
	margin-top: -30px;
	color: #898989;
}
.row3{
	padding-top:40px;
	width: 740px;
	margin: auto;
	height: 55px;
	display: flex;
}
.input{
	font-family:'PTSRegular';
	border-radius: 7px;
    flex: 1;
    font-size: 16px;
    margin-right: 15px;
    padding-left: 20px;
}
.submit{
	border-radius: 7px;
	display: flex;
	width: 130px;
	height: 55px;
	background-color: #fcdb00;
	justify-content: center;
	align-items: center;
	font-family:'PTSBold';
}
.row4{
	padding-top:70px;
	width: 260px;
	margin: auto;
	height: 45px;
	display: flex;
	justify-content: space-around;
}
.row5{
	padding-top:100px;
	width: 960px;
	margin: auto;
	height: 120px;
	display: flex;
	justify-content: space-around;
}
.col1{
	color: #d4d4d4;
	font-family:'PTSRegular';
}
